

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;

}
html {

  font-size: 62.5%;

}
body{
  background : rgb(3, 0, 31);
   color: white ;
   font-family: 'Poppins',sans-serif;
}


.App {
  min-height: 100vh;
  display: flex;

}
.sideBar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.main{
  flex: 9;
}
.logo{
  margin-right: 1rem ;
}

.brand {
  font-size: 2rem;
}
.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}
.upperSideTop{
  display: flex;
  align-items: center;
  margin: 2.5rem;
}






















































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
